.sleeknote {
    /* display: flex; */
    /* align-items: center; */
    margin-bottom: 50px;
    display: block;
}

.sleeknote__image img {
    max-width: 50%;
    margin-right: 20px;
}

.sleeknote__content {
    flex: 1;
    padding: 0 20px;
}

.sleeknote__title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.sleeknote__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sleeknote__link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sleeknote__link:hover {
    background-color: #0056b3;
}


.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr ;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
    color:black;
     /* font-size: 60px; */
     padding-bottom: 30px;
     padding-left: 10px;
   }

   .icons{
    margin: 10px;
   }
   span{
    margin-left: 10px;
   }
   