<nav>
    <img src="/assets/CompanyImgs/logo.png" alt="Logo" />
    <!-- <div >
      <button type="button" routerLink="allflights" 
      style="border: none; border-radius: 0; background-color:white;">
        <i class="fas fa-search" ></i>
      </button> -->
      <div>
      <ul >
        <li><a href="/">Home</a></li>
        <li><a routerLink="allflights">Flights</a></li>
        <li><a routerLink="profile">Profile</a></li>
        <li><a routerLink="my-trips">My trips</a></li>
        <li><a (click)="userLogout()" class="Logout">Sign Out</a></li>
      </ul>
     
    </div>
  </nav>