
<!-- <img src="/assets/images/home.png" /> -->

<!-- <nav>
  <div [ngSwitch]="menuType">
    <app-default-header *ngSwitchCase="'default'"></app-default-header>
    <app-user-header *ngSwitchCase="'user'"></app-user-header>
    <app-admin-header *ngSwitchCase="'admin'"></app-admin-header>
  </div>
</nav> -->

<h2 style="color: aliceblue;">Top Destinations</h2>
<div class="divider"></div>
<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="place"><span class="place-span">Bali</span></div>
      <img src="/assets/images/bali.jpg" alt="Image 1" />
    </div>

    <div class="card">
      <div class="place"><span class="place-span">Greece</span></div>
      <img src="/assets/images/greece.jpg" alt="Image 2" />
    </div>

    <div class="card">
      <div class="place"><span class="place-span">Germany</span></div>
      <img src="/assets/images/german.jpg" alt="Image 3" />
    </div>

    <div class="card">
      <div class="place"><span class="place-span">Italy</span></div>
      <img src="/assets/images/milan.jpg" alt="Image 4" />
    </div>
    <div class="card">
      <div class="place"><span class="place-span">Paris</span></div>
      <img src="/assets/images/paris.jpg" alt="Image 5" />
    </div>
    <div class="card">
      <div class="place"><span class="place-span">Spain</span></div>
      <img src="/assets/images/spain.jpg" alt="Image 6" />
    </div>
  </div>
</div>
